.Quiz {
	display: flex;
	justify-content: center;
	padding-top: 100px;
	flex-grow: 1;
	width: 100%;
}
.QuizWrapper > h1 {
	color: #000;
	margin-left: 10px;
	margin-bottom: 25px;
	font-size: 4rem;
	text-align: center;
}
.QuizWrapper {
	width: 600px;
}